/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.secondary.menu > .header.item {
  font-size: 1.5rem;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.teal a {
  color: #efefef;
}

.teal a:hover {
  color: #ccf;
}

p a {
  font-weight: bold;
}

.ui.page.grid.segment.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ui.page.grid.segment {
  padding-top: 1.25rem;
  padding-bottom: 3.5rem;
}
